// my resets
* { box-sizing: border-box; }

// Typografy
html { font-size: 62.5%; }
body {
  font-size: 1.4rem; /* =14px */
  font-family: 'Roboto', sans-serif;
}
h1   { font-size: 2.4rem; } /* =24px */